@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<section class="welcome-section">
    <div class="container">
        <h1 class="display-4">Welcome to Antonio's Portfolio</h1>
    </div>
</section>